<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAE8Y91d-eIIBfUp_uszMesaIFOJPgstUY</string>
	<key>GCM_SENDER_ID</key>
	<string>956443668419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TigerLingua</string>
	<key>PROJECT_ID</key>
	<string>tiger-lingua</string>
	<key>STORAGE_BUCKET</key>
	<string>tiger-lingua.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956443668419:ios:2ccd912cce152f23f89776</string>
</dict>
</plist>